@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@900&family=Nunito&family=Orbitron&family=Poppins:wght@600&family=Rubik&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    text-align: center;
}

.contenedor-principal {
    width: 300px;
    height: 300px;
    /* max-width: 600px; */
    /* min-height: 350px; */
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.botones {
    padding: 10px;
}

#cronometro {
    width: 100%;
    padding: 20px 0;
    font-size: 35px;
    user-select: none;
    font-family: 'Orbitron', sans-serif;
}

.boton {
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 50%;
}

#btn-inicio-pausa.iniciar,
#btn-inicio-pausa.iniciar i {
    background-color: #08e008;
    
}

#btn-inicio-pausa.pausa,
#btn-inicio-pausa.pausa i {
    background-color: #ffdc00;
    
}


#btn-reiniciar {
    background: red;
    
}
